{#
/**
 * @file
 * Template for the main page.
 */
#}

<!-- Sidebar -->
<div class="overlay"></div>
<!-- /#sidebar-wrapper -->
<header class="clearfix">
  <nav class="navbar navbar-default container" role="navigation">
    <div class="container">
      <div class="navbar-header">
        {{ page.navbar_branding }}
        <button type="button" class="navbar-toggle offcanvas-toggle pull-right" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas" style="float:left;">
          <span class="sr-only">Toggle navigation</span>
          <span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </span>
        </button>
      </div>
      <div class="navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
        {% if page.navbar_left %}
          <div class="navbar-left">
            {{ page.navbar_left }}
          </div>
        {% endif %}
        {% if page.navbar_right %}
          <div class="navbar-right">
            {{ page.navbar_right }}
          </div>
        {% endif %}
      </div>
    </div>
  </nav>
</header>
<div id="page-content-wrapper">
  <div id="hero"></div>

  <div class="container">
    <div class="row">
      {% if page.head %}
        <div class="region-head col-md-12">
          {{ page.head }}
        </div>
      {% endif %}
      {% if page.map %}
        <div class="region-map col-md-12">
          {{ page.map }}
        </div>
      {% endif %}

      {% if page.sidebar %}
        <div class="region-content col-md-8">
      {% endif %}
      {% if page.sidebar is empty %}
        <div class="region-content col-md-12">
      {% endif %}
          {{ page.content }}
        </div>
      {% if page.sidebar %}
      <div class="region-sidebar col-md-4">
        {{ page.sidebar }}
      </div>
      {% endif %}
    </div>
  </div>
  {% if page.footer %}
    <footer id="footer" class="footer" role="footer">
      <div class="container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}
</div>

